{% extends 'base.html' %}

{% block content %}
	<br>
	<p><a href="{% url 'songs-create' %}" class="btn btn-success">Create new song</a></p>
    <h2>Search</h2>

    <form id="searchform" method="get" action=".">
        <table>
            <input id="id_q" type="text" name="q" value="{% if query %}{{ query }}{% endif %}">
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button class="btn btn-info" type="submit" value="Search">SEARCH SONG</button>
                </td>
            </tr>
        </table>

		<h3>Results</h3>

		{% for result in page.object_list %}
			{% if result.object.id %}
				<p><b>Title:</b> {{ result.object.title }}</p>
				<p><b>Artist:</b> {{ result.object.artist }}</p>
				<p><b>Album:</b> {{ result.object.album }}</p>
				<p><a href="{% url 'songs-detail' result.object.id %}" class="btn btn-warning">View song details</a></p>

				{% if user_wants_favourite %}
					{{ result.object.id }}
					<p><a href="{% url 'accepted_favourite_redirect' result.object.id user_wants_favourite %}" class="btn btn-danger">Add song as favourite</a></p>
				{% endif %}
				<br>
			{% endif %}
		{% empty %}
			<p>No results found.</p>
		{% endfor %}

		{% if page.has_previous or page.has_next %}
			<div>
				{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
				|
				{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
			</div>
		{% endif %}
    </form>
{% endblock content %}

{% block head-js %}
<script>
	function getUrlVars()
	{
		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for(var i = 0; i < hashes.length; i++)
		{
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}
		return vars;
	}
	function search() {
		var full_path = window.location.origin + window.location.pathname + '?q=' + $('#id_q').val();
		var params = '';
		var user_wants_favourite = getUrlVars()["user_wants_favourite"];
		if (user_wants_favourite) {
			params = params + '&user_wants_favourite=' + user_wants_favourite;
		}
		window.location = full_path + params
	}

	$( "#searchform" ).submit(function( event ) {
		event.preventDefault();
		search();
	});
</script>
{% endblock head-js %}