
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}blook{% endblock %}</title>
		<meta name="description" content="{% block metadescription %}{% endblock metadescription %}"/>
		<meta name="keywords" content="{% block metakeywords %}{% endblock metakeywords %}">

		<!-- BOOTSTRAP 3 RESPONSIVE META -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
	</head>

	<body class="{% block body-class %}{% endblock %}">
	{% block homepagelink %}{% endblock %}
	{% block content %}{% endblock %}
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	{% block head-js %}{% endblock head-js %}
	</body>
</html>

