{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to your Favourite Songs</h2>
	<a href="{% url 'haystack_songs_search' %}" class="btn btn-info">Songs</a>
    <a href="{% url 'users-list' %}" class="btn btn-warning">Users</a>
{% endblock content %}