{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'users-create' %}" class="btn btn-success">Create new user</a></p>
<h1>All Users</h1>
<ul>
{% for user in object_list %}
    <li><b>Username:</b> {{ user.username }}</li>
	<li><b>Email:</b> {{ user.email }}</li>
	<p><a href="{% url 'users-detail' user.id %}" class="btn btn-info">View user details</a></p>
	<br>
{% empty %}
    <li>No users yet.</li>
{% endfor %}
</ul>
{% endblock content %}