{% extends "base.html" %}

{% block content %}
<h1>User details</h1>
<p><b>Username:</b> {{ object.username }}</p>
<p><b>Email:</b> {{ object.email }}</p>
<p><a href="{% url 'users-update' object.id %}" class="btn btn-success">Update user</a></p>
<p><a href="{% url 'users-delete' object.id %}" class="btn btn-warning">Delete user</a></p>
<p><a href="{% url 'haystack_songs_search' %}?user_wants_favourite={{ object.id }}" class="btn btn-danger">Search NEW songs to add as favourites</a></p>


{% if favourite_songs %}
<br>
<h1>User <b>{{ object.username }}</b> Favourite Songs</h1>
<br>
{% for favourite_song in favourite_songs %}
<p><b>Title:</b> {{ favourite_song.title }}</p>
<p><b>Artist:</b> {{ favourite_song.artist }}</p>
<p><b>Album:</b> {{ favourite_song.album }}</p>
<p><a href="{% url 'songs-detail' favourite_song.id %}" class="btn btn-info">View song details</a></p>
<br>
{% endfor %}
{% else %}
<h1>User <b>{{ object.username }}</b> Does Not Have Favourite Songs</h1>
{% endif %}


{% endblock content %}