{% extends "base.html" %}

{% block content %}
<h1>Song details</h1>
<p><b>Title:</b> {{ object.title }}</p>
<p><b>Artist:</b> {{ object.artist }}</p>
<p><b>Album:</b> {{ object.album }}</p>
{% if object.song %}
<p><b>URL:</b> <a href="{{ object.song.url }}">{{ object.song.name }}</a></p>
{% endif %}
<p><a href="{% url 'songs-update' object.id %}" class="btn btn-success">Update song</a></p>
<p><a href="{% url 'songs-delete' object.id %}" class="btn btn-danger">Delete song</a></p>
{% endblock content %}