{% extends "base.html" %}

{% block content %}
<br>
<p><a href="{% url 'songs-create' %}" class="btn btn-success">Create new song</a></p>
<h1>All Songs</h1>
<ul>
{% for song in object_list %}
    <li><b>Title:</b> {{ song.title }}</li>
	<li><b>Artist:</b> {{ song.artist }}</li>
	<li><b>Album:</b> {{ song.album }}</li>
	<p><a href="{% url 'songs-detail' song.id %}" class="btn btn-info">View song details</a></p>
	<br>
{% empty %}
    <li>No songs yet.</li>
{% endfor %}
</ul>
{% endblock content %}